<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionClient.Properties.Settings.ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=data\gestionClient.mdb;User Id=admin;Password=;" />
    </connectionStrings>
</configuration>